@charset "utf-8";
/* CSS Document */




/*----------------head----------------*/
.head_frame{ width:100%; height:104px; background:url(../images/head-bg.png) repeat-x top;}
.head_frame .head{ width:980px; height:104px; margin:0 auto; overflow:hidden}
.head_frame .head a.logo{ display:block; width:167px; height:75px; float:left; margin:14px 0 0 0; text-align:center;}
.head_frame .head a.logo img{width:167px; height:75px;}

/*menu*/
.menu{ width:736px; height:90px; float:right; padding:0 4px; margin:0 auto; margin:10px 0 0 0;  overflow:hidden }
.menu a{ display:block; width:80px; height:84px; float:left;; margin:10px 0 0 0px;  color:#fff!important; text-align:center; cursor:pointer; overflow:hidden}
.menu a span{ display:block; width:45px; height:45px; margin:6px auto 2px ; overflow:hidden; position:relative;}
.menu a p{ display:block; width:100%; height:20px; line-height:20px; padding:0 0 10px 0; font-size:12px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; text-align:center;}
.menu a:hover{ text-decoration:none; background:url(../images/menu-hover.png) no-repeat center}
.meun_current{ background:url(../images/menu-active.png) no-repeat center!important;}
.menu_ico01{ position:absolute; top:0; left:0;}
.menu_ico02{ position:absolute; top:-45px; left:0;}
.menu_ico03{ position:absolute; top:-90px; left:0;}
.menu_ico04{ position:absolute; top:-180px; left:0;}
.menu_ico05{ position:absolute; top:-135px; left:0;}
.menu_ico06{ position:absolute; top:-225px; left:0;}
.menu_ico07{ position:absolute; top:-270px; left:0;}
.menu_ico08{ position:absolute; top:-315px; left:0;}
.menu_ico09{ position:absolute; top:-360px; left:0;}

/*system setting ||side menu*/
.side_menu{ width:187px;  position:absolute; top:20px; right:-150px; z-index:9999; overflow:hidden; cursor:pointer}
.side_menu .setting_ico{ width:37px; height:74px; background:url(../images/ico-setting.png) no-repeat center; float:left;}
.side_menu ul{ display:block; float:left; width:149px; padding:0 0 8px 0; border:1px solid #15667f; border-left:none; border-top:none;  background:#f6f6f6;}
.side_menu ul li{ display:block; margin:2px 4px; height:38px; line-height:38px; font-size:16px;font-family:"微软雅黑", Arial, Helvetica, sans-serif; }
.side_menu ul li.userid{ height:74px; margin:0!important; padding:0 14px; line-height:1.6em; background:url(../images/setting-user-bg.png) no-repeat left center; font-style:italic;}
.side_menu ul li.userid span{ display:block; line-height:14px; font-size:11px; font-style:italic; color:#666; padding:20px 0 0 0;}
.side_menu ul li a{ display:block; height:30px; line-height:30px; padding:4px 6px 4px 30px;}
.side_menu ul li a:hover{ background:#eee; text-decoration:none}


/*index list*/
.index_frame{ width:1440px; height:900px; background:#0095c2  url(../images/index-bg.png) no-repeat center; overflow:hidden; position:absolute; left:50%; top:50%; margin-left:-720px; margin-top:-450px; overflow:hidden; }
.index_frame2{ width:1440px; height:900px; background:#0095c2 url(../images/index-user-eidt-bg.jpg) no-repeat center; overflow:hidden; position:absolute; left:50%; top:50%; margin-left:-720px; margin-top:-450px; overflow:hidden; }
.index_panel{ width:1024px; height:700px; position:absolute; left:50%; top:50%; margin-left:-512px; margin-top:-350px; overflow:hidden;}
.index_panel .menulist{ width:1024px; height:520px; margin:100px 0 0 0; overflow:hidden;}
.index_panel .index_page{ width:272px; height:50px; line-height:50px; text-align:center; margin:0 auto 0;}

.index_logo{ width:167px; height:75px; position:absolute; left:30px; top:20px; z-index:999;}
.index_logo img{ width:167px; height:75px;}

/*修改资料*/
.duckbg{ width:100%; height:100%; z-index:300; position:absolute; top:0; background:#000; filter:alpha(opacity=60); /* IE */ -moz-opacity:0.6; /* Moz + FF */opacity: 0.6; cursor:wait;}
.main_panel_eidt{width:824px; height:604px; position:absolute; left:50%; top:50%; margin-left:-412px; margin-top:-302px; background:url(../images/main-panel-bg.png) no-repeat center; }
.user_eidt{ overflow:hidden}
.user_eidt table{ width:100%;}
.user_eidt table td{ padding:5px 5px; line-height:2.8em;}

/*main panel*/
.main_panel{ width:824px; height:604px; margin:30px auto 0; background:url(../images/main-panel-bg.png) no-repeat center; }
.main_panel_report{ width:824px;  margin:30px auto 0; background:url(../images/main-panel-bg.png) no-repeat center top; }
.main{width:824px; height:604px; background:url(../images/main-panel-bg.png) no-repeat center; position:relative; z-index:999;}
.main_report{width:824px;  position:relative; z-index:999; overflow:hidden}
.report_topframe{width:824px; background:url(../images/main-panel-bg.png) no-repeat top center;}

/*bottom btn*/
.bottom_btn{ width:74px; height:164px; background:#ccc;  position:absolute; right:-76px; bottom:30px; z-index:9999;}
.bottom_btn a{ display:block; width:74px; height:41px; background:url(../images/ico-bottom.png) no-repeat; text-indent:-9999px; overflow:hidden; cursor:pointer}
.bottom_btn a.return{ background-position:-74px 0;}
.bottom_btn a.return:hover{ background-position:0 0;}
.bottom_btn a.gohome{ background-position:-74px -41px;}
.bottom_btn a.gohome:hover{ background-position:0 -41px;}
.bottom_btn a.setting{ background-position:-74px -82px;}
.bottom_btn a.setting:hover{ background-position:0 -82px;}
.bottom_btn a.logout{ background-position:-74px -123px;}
.bottom_btn a.logout:hover{ background-position:0 -123px;}


/*content*/
.content{ width:824px; height:604px;  overflow:hidden}
.title{ width:768px; height:62px; padding:0 24px;  line-height:62px; font-size:18px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; background:url(../images/title-bg.png) no-repeat 4px 4px; }
.title h2{ display:block; height:62px; line-height:62px; width:70%; float:left; font-size:26px; font-weight:normal;}
.title .title_side{ height:56px; line-height:56px; width:28%; float:right; font-size:26px; font-weight:normal;}
.title .title_side a{ display:block; width:38px; height:38px; line-height:38px; float:right; font-size:14px; background:url(../images/title-item-bg.png) no-repeat 0 0; cursor:pointer; margin:12px 0 0 4px; text-align:center; }
.title .title_side a:hover{ background-position:0 -38px; text-decoration:none}
.title .title_side a img{ margin:8px 0 0 0;}
/*info*/
.info{ width:300px; padding:6px 10px; background:#FFFEF2; border:1px solid #ff8800; position:absolute; right:30px; top:52px; z-index:99;}
.info .info_title{ overflow:hidden; padding:0;}
.info .info_title h4{ margin:0; padding:0; display:block; width:40%; height:20px; line-height:20px; float:left; font-size:12px ; font-weight:bold;}
.info .info_title .close{ margin:0!important; display:block; float:right; width:14px!important; height:14px!important; line-height:14px; text-align:center; border:1px solid #ff8800; color:#ff8800; font-size:12px;}
.info p{font-family:"宋体", Arial, Helvetica, sans-serif;  font-size:12px ; line-height:1.6em; text-indent:2em; color:#666; margin:.6em 0;}

.info_report{ width:180px; padding:6px 10px; background:#FFFEF2; border:1px solid #ff8800; position:absolute; right:30px; top:52px; z-index:99;}
.info_report .info_title{ overflow:hidden; padding:0;}
.info_report .info_title h4{ margin:0; padding:0; display:block; width:40%; height:20px; line-height:20px; float:left; font-size:12px ; font-weight:bold;}
.info_report .info_title .close{ margin:0!important; display:block; float:right; width:14px!important; height:14px!important; line-height:14px; text-align:center; border:1px solid #ff8800; color:#ff8800; font-size:12px;}
.info_report p{font-family:"宋体", Arial, Helvetica, sans-serif;  font-size:12px ; line-height:1.6em; text-indent:2em; color:#666; margin:.6em 0;}

/*test list*/
.test_list{ display:block; width:686px; height:501px; margin:0 auto; padding:10px 30px 0 30px; overflow:hidden}
.test_list li{ display:block; width:662px; height:136px; background:url(../images/test-item-bg.gif) no-repeat; margin:6px 0; padding:8px 12px;}
.test_list li .index{ width:56px; height:100px; padding:4px 0 0 0; float:left; text-align:left; color:#999; font-size:36px; font-style:italic; font-family:Verdana, Geneva, sans-serif}
.test_list li .test_list_text{ width:440px; height:120px; float:left; overflow:hidden; margin:5px 0 0 20px;}
.test_list li .test_list_text h3{ line-height:1.6em; font-size:20px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-weight:normal;}
.test_list li .test_list_text p{ line-height:1.6em; font-size:12px; color:#666; margin:4px 0;}
.test_list li .test_list_text span{ display:block; overflow:hidden; margin:8px 0;}
.test_list li .test_list_img{ float:left; width:112px; height:112px; margin:12px 0 0 12px;}
.test_list li .test_list_img img{ width:106px; height:106px; border:3px solid #77CBE3;}

.page{ display:block; width:272px; height:46px;  margin:10px auto 0;}


/*con*/
.con{ width:734px; height:492px; margin:10px auto; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.con h3{ display:block; margin:0 auto; line-height:32px; font-size:18px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-weight:normal;}
.con p{ display:block;  margin:0 auto; font-size:12px; line-height:1.6em; font-size:12px; color:#666; padding:1em 0; text-indent:2em; font-weight:normal;}
.con .test_guide{ width:676px; height:98px; background:url(../images/guide-bg.png) no-repeat 0 0;  padding:20px 12px; margin:12px auto 0; overflow:hidden;}
.con .test_guide h3{ line-height:18px; font-size:16px; font-weight:bold;}
.con .test_guide p{display:block; width:650px; margin:0 auto; font-size:12px; line-height:1.6em; padding:1em; text-indent:2em; color:#666;}
.con .option{ margin:12px 0; overflow:hidden}

.con_list{ width:734px; height:446px; margin:10px auto; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.bottom_area{ width:811px; height:68px; text-align:center; background:url(../images/list-bottom-bg.png) no-repeat 0 0; margin:0 0 4px 4px; overflow:hidden;}


/*test guide*/
.test_guide_intro_title{display:block; width:700px; margin:0 auto; line-height:32px; font-size:18px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-weight:normal;}
.test_guide_intro{display:block; width:700px; margin:0 auto; font-size:12px; line-height:1.6em; font-size:12px; color:#666; padding:1em 0; text-indent:2em; font-weight:normal;}
.test_guide_option{ margin:14px 20px; overflow:hidden}

/*progress*/
.progress{ width:700px; height:30px; padding:4px 10px; margin:6px 0 0 0; background:#f0f0f0; border:1px solid #ededed; overflow:hidden}
.progress span{ display:block; float:left;}
.progress span.p_title{ width:30px; height:14px; line-height:14px; text-align:right; margin:9px 0 0 16px;}
.progress span.progress_bar{ width:570px; height:6px; background:#89D0E4; margin:14px 0 0 10px; *margin:13px 0 0 10px; _*margin:13px 0 0 7px;}
.progress span.progress_bar .progress_now{ display:block; margin:0; padding:0; width:30px; height:6px; background:#1C9607;}
.progress span.p_total{width:60px; height:6px; line-height:12px; margin:9px 0 0 10px;}

/*test*/
.test_panel{ width:680px; height:310px; margin:14px 0 0 0; *margin:10px 0 0 0; _margin:10px 0 0 0; padding:10px 20px; *padding:7px 20px;  background:#f9f9f9; border:1px solid #ededed; overflow-x:hidden; overflow-y:auto;}
.test_panel h3{ line-height:32px; font-size:14px; margin:0 0 8px 0; font-weight:bold; }
.test_panel a{ display:block; width:640px; height:14px; line-height:14px; padding:10px 10px 10px 34px; margin:2px 0; font-size:14px; cursor:pointer; border:1px solid #fff; }
.test_panel a:hover{ text-decoration:none; color:#333; background:#f0f0f0; border:1px solid #eee;}
.test_hover{ background:#f0f0f0; border:1px solid #eee; *background:#f0f0f0; *border:1px solid #eee; _background:#f0f0f0; _border:1px solid #eee;}
.test_selected{background:#f0f0f0 url(../images/ico-yes-s.png) no-repeat 8px 6px!important; border:1px solid #eee!important;}

.test_end{ width:700px; height:280px; padding:80px 20px 40px 20px; margin:14px 0 0 0; *margin:10px 0 0 0; _margin:10px 0 0 0;  background:#f9f9f9; }
.test_end .test_end_ico{ width:112px; height:100px; float:left; margin:0 0 0 120px; *margin:0 0 0 80px; _margin:0 0 0 80px;; position:relative; overflow:hidden;}
.test_end .test_end_ico img{ width:101px; height:96px;}
.test_end .test_end_txt{ width:300px; height:240px; float:left; margin:0 0 0 20px;}
.test_end .test_end_txt h3{ line-height:1.2em; font-size:24px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-weight:normal}
.test_end .test_end_txt p{ margin:10px 0; padding:0; text-indent:0; line-height:1.6em; color:#666;}

/*report*/

.con_report{ width:760px; height:480px; margin:4px auto; padding:4px 0; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.report_middleframe{width:824px;   overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff url(../images/report-con-bg.png) repeat-y -1px center;}
.report_bottomframe{width:824px; height:32px; overflow:hidden; background:#0195c3 url(../images/report-bottom-bg.png) repeat-y -2px center;}
.con_report2{ width:760px;  margin:4px auto; padding:4px 0; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff }
.con_report2 h4{ font-size:24px; text-align:center; padding:18px 0;}
.con_report2 ul.score{ display:block; overflow:hidden}
.con_report2 ul.score li{ display:block; float:left; width:49%;}

.list_scroll{ width:700px; height:320px; margin:80px auto 0; overflow:hidden;}
.report_list{ display:block; width:9000px;  position:relative; top:10px;}
.report_list li{ display:block; width:189px; height:248px; padding:19px 9px;  background:url(../images/report-bg.png) no-repeat 0 0; overflow:hidden;  float:left; margin:2px 12px;}

.report_list li .rl_title{ padding:4px 5px; margin:26px 0 0 0; height:50px; overflow:hidden;  font-size:18px;  font-family:"微软雅黑", Arial, Helvetica, sans-serif; text-align:center;}
.report_list li .rl_title a{font-weight:normol; line-height:1em;}
.report_list li .rl_title a:hover{ text-decoration:none;}
.report_list li .rl_txt p{ text-indent:0; line-height:1.6em; font-size:12px; color:#999;}

.state_accept{ display:block; width:50px; height:20px; line-height:20px; padding:0 0 0 24px; margin:5px auto; background:url(../images/ico-yes-s.png) no-repeat;; font-size:14px; color:#299b14;}
.state_date{ display:block;  padding:0 12px;  margin:0 auto; background: font-size:13px; color:#666; text-align:center;}
.state_checking{ padding:0 0 0 24px; margin:8px 0; background:url(../images/ico-help-s.png) no-repeat }
/*报告-个性化干预*/
.report_affect{ width:680px; height:120px; margin:0px auto 0;}
.report_affect h4{ font-size:12px; color:#666; font-weight:normal; line-height:1.6em;}
.report_affect .ra_con{ width:677px; height:86px; padding:7px 0; background:url(../images/report-affect-bg.png) repeat-x; border:1px solid #ddd; position:relative}
.report_affect .ra_con span{ display:block; width:10px; height:40px; text-indent:-9999px; cursor:pointer; overflow:hidden; position:absolute;}
/*.report_affect .ra_con span.ra_btn_prev{ left:4px; top:30px; background:url(../images/ico-leftright.png) no-repeat 0 -40px;}
.report_affect .ra_con span.ra_btn_prev:hover{ background-position:-10px -40px;}
.report_affect .ra_con span.ra_btn_next{ right:4px; top:30px; background:url(../images/ico-leftright.png) no-repeat 0 0;}
.report_affect .ra_con span.ra_btn_next:hover{ background-position:-10px 0;}
*//*scroll-list*/
.report_affect .ra_con .ra_list{ width:645px; height:86px;  margin:6px auto 0; overflow:hidden; position:relative}
.report_affect .ra_con .ra_list .ra_list_con{ display:inline; width:800px; height:86px; position:absolute; left:0; top:0; }
.report_affect .ra_con .ra_list .ra_list_con a{ display:block; float:left; width:70px; height:80px; margin:3px 1px; text-align:center;}

.btn_report_view{ display:block; width:125px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#333; background:url(../images/btn-gray-bg.png) no-repeat 0 0; cursor:pointer; overflow:hidden; margin:10px auto;}
.btn_report_view:hover{ text-decoration:none; color:#333; background-position:0 -34px;}

.con_report h4{ text-align:center; font-size:24px; line-height:2;}
table.report{ width:99%; border:1px solid #ccc; border-collapse:collapse;}
table.report td{ line-height:1.5em; border:1px solid #ddd;}
table.report td .table_title{ line-height:1.5em; padding:4px 5px;  font-size:14px; font-weight:bold; background:#eee url(../images/affect-title.gif) repeat-x bottom;}
table.report td ul{ display:block; overflow:hidden; padding:10px; vertical-align:top}
table.report td ul li{ line-height:1.6; font-size:14px}
table.report td p{ padding:6px 12px; line-height:1.6em; text-indent:2em; font-size:14px}

/*movie*/
.movie_list{width:760px; height:491px; margin:10px auto; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.movie_list .mtab .contentbox a{ display:block; width:180px; height:164px; padding:10px; float:left; margin:26px 22px 0 20px; border:1px solid #fff; overflow:hidden;}
.movie_list .mtab .contentbox a span{ display:block; width:176px; height:134px; margin:0 auto; overflow:hidden}
.movie_list .mtab .contentbox a span img{ width:170px; height:128px; padding:2px; border:1px solid #ddd;}
.movie_list .mtab .contentbox a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.movie_list .mtab .contentbox a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}


/*videoPlayer panel*/
.video_panel{width:811px; height:464px; padding:1px 0; margin:0 0 0 4px; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; text-align:center; }
/*jwplayer插件生成的样式*/
#video_wrapper{width:811px; height:464px; padding:1px 0; margin:0 0 0 4px; overflow:hidden;}
/*game*/
.video_panel object{ margin:5px 0 0 0;}

/*magazine*/
.magazine_list{width:760px; height:491px; margin:10px auto; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.magazine_list a{ display:block; width:196px; height:286px; padding:10px; float:left; margin:60px 12px 0; border:1px solid #fff; overflow:hidden}
.magazine_list a span{ display:block; width:196px; height:256px; margin:0 auto; overflow:hidden}
.magazine_list a span img{ width:190px; height:250px; padding:2px; border:1px solid #ddd;}
.magazine_list a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.magazine_list a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}

/*music*/
.music_control{ width:750px; height:56px; padding:7px 30px 8px 30px; margin:4px 0 0 4px; background:url(../images/music-control-bg.png) no-repeat center;}
.music_con{ width:811px; height:498px; margin:0 2px 0 4px; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.music_con .mleft{ width:600px; height:492px; float:left;}
/*music class scroll*/
.music_con .mleft .mclass{ width:458px; height:202px;}
.music_con .mleft .mclass a{ display:block; width:458px; height:202px; overflow:hidden; position:relative}
.music_con .mleft .mclass a img{ width:458px; height:202px; }

/*music tab list*/
.music_con .mleft .mtab{ width:600px; height:490px; margin:0 0 0 2px;}
.music_con .mleft .mitem_intro{ margin:8px 0; height:60px; overflow:hidden}
.music_con .mleft .mitem_intro .mitem_txt{ width:440px; padding:0 5px; height:56px; float:left; }
.music_con .mleft .mitem_intro .mitem_txt h3{ font-size:12px; line-height:1.6em;}
.music_con .mleft .mitem_intro .mitem_txt p{ line-height:1.6em; color:#666;}
.music_con .mleft .mitem_list{ display:block; height:192px; padding:4px 0; overflow-x:hidden; overflow-y:auto;}
.music_con .mleft .mitem_list li{ height:20px; line-height:20px; padding:2px 8px; position:relative; overflow:hidden}
.music_con .mleft .mitem_list li:hover{ background:#e1f5fe;}
.music_con .mleft .mitem_list li a{display:block; height:12px; width:12px; padding:2px; text-align:center; cursor:pointer}
.music_con .mleft .mitem_list li a.add{ position:absolute; right:8px; top:4px;}
.music_con .mleft .mitem_list li a.play{ position:absolute; right:28px; top:4px;}
.music_con .mleft .mitem_list li a:hover{ background:#ddd;}
em.class_play{ display:block; height:81px; width:81px; background:url(../images/btn-musicclass.png) no-repeat 0 0; position:absolute; top:50%; left:50%; margin-top:-40px; margin-left:-40px;}
em.class_play:hover{ background-position:0 -81px;}


/*music play list*/
.music_con .mlist{ width:200px; height:496px; float:right; background:#f3f3f3; border-left:1px solid #c5dbe7}
.music_con .mlist .mlist_title{ height:28px; line-height:28px; padding:0 12px; background:url(../images/music-title-bg.gif) repeat-x center -2px; color:#1268aa; font-weight:bold;}
.music_con .mlist ul.mlist_list{ display:block; height:470px; overflow-x:hidden; overflow-y:auto;}
.music_con .mlist ul.mlist_list li{ height:20px; line-height:20px; padding:2px 8px; position:relative; overflow:hidden; color:#666}
.music_con .mlist ul.mlist_list li:hover{ background:#e1f5fe; cursor:pointer}
.music_con .mlist ul.mlist_list li a{display:block; height:12px; width:12px; padding:2px; text-align:center; cursor:pointer}
.music_con .mlist ul.mlist_list li a.reduce{ position:absolute; right:8px; top:4px;}
.music_con .mlist ul.mlist_list li a.play{ position:absolute; right:28px; top:4px;}
.music_con .mlist ul.mlist_list li a:hover{ background:#ddd;}

.con_bottom{ width:811px; height:22px; margin:0 0 0 4px; background:url(../images/music-bottom-bg.png) no-repeat center;}


/*Music Class*/
.music_class{ overflow:hidden; width:640px; margin:0 auto;}
.music_class a{ display:block; width:110px; height:130px; padding:10px; float:left; margin:20px 14px; _margin:20px 11px; border:1px solid #fff;}
.music_class a span{ display:block; width:110px; height:110px; margin:0 auto; overflow:hidden}
.music_class a span img{ width:104px; height:104px; padding:2px; border:1px solid #ccc;}
.music_class a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.2em; text-align:center; text-indent:0;}
.music_class a:hover{ background:#f6f6f6; border:1px solid #ddd; text-decoration:none;}

/*music player*/
.music_player{width:743px; height:127px; margin:12px auto; padding:20px 0;  background:url(../images/music-bg.gif) no-repeat center;}
.music_player .mp_player{ width:420px; float:left; margin:0 0 0 14px;}
.mlist_now{width:420px; margin:10px auto;}
.mlist_now p{ line-height:18px; margin:0; padding:0; color:#333;}

.music_player .mp_list{ display:block; width:280px; height:126px; background:#f6f6f6; border:1px solid #ddd; float:right; margin:0 14px 0 0 ;}
.music_player .mp_list .mp_list_title{ height:24px; line-height:24px; padding:0 8px; background:url(../images/music-title-bg.gif) repeat-x bottom; color:#1268aa; font-weight:bold;}
.music_player .mp_list a{ display:block; height:20px; line-height:20px; padding:2px 8px; overflow:hidden; color:#666;  cursor:pointer}
.music_player .mp_list a:hover{ color:#1268aa; background:#e9f2f9; text-decoration:none}


/*干预套餐*/
.affect_list{width:734px; height:491px; margin:10px auto;  font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;  overflow-x: hidden; overflow-y: auto;}
.affect_list  a{ display:block; width:180px; height:164px; padding:10px; float:left;  margin: 36px 18px 0 17px; border:1px solid #fff;}
.affect_list a span{ display:block; width:176px; height:134px; margin:0 auto; overflow:hidden}
.affect_list  a span img{ width:170px; height:128px; padding:2px; border:1px solid #ddd;}
.affect_list  a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.affect_list  a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}

.affect_con{width:743px; height:446px; margin:10px auto; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }

.affect_position{ display:block; width:743px; height:34px; margin:10px auto;}
.ap01{ background:url(../images/personalized-index01.png) no-repeat 0 0;}
.ap02{ background:url(../images/personalized-index02.png) no-repeat 0 0;}
.ap03{ background:url(../images/personalized-index03.png) no-repeat 0 0;}
.ap04{ background:url(../images/personalized-index04.png) no-repeat 0 0;}
.ap05{ background:url(../images/personalized-index05.png) no-repeat 0 0;}
.ap06{ background:url(../images/personalized-index06.png) no-repeat 0 0;}
.affect_position a{ display:block; width:146px; height:34px; line-height:34px; float:left;  margin:0 1px; text-indent:-9999px; overflow:hidden;}

/*干预套餐-杂志*/
.affect_magazine_list{width:743px; height:390px; margin:10px auto; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;  }
.affect_magazine_list a{ display:block; width:196px; height:286px; padding:10px; float:left; margin:40px 12px; border:1px solid #fff;}
.affect_magazine_list a span{ display:block; width:196px; height:256px; margin:0 auto; overflow:hidden}
.affect_magazine_list a span img{ width:190px; height:250px; padding:2px; border:1px solid #ddd;}
.affect_magazine_list a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.affect_magazine_list a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}

/*干预套餐-动漫视频*/
.affect_movie_list{width:743px; height:400px; margin:0 auto 10px; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;}
/*.affect_movie_list a{ display:block; width:180px; height:164px; padding:10px; float:left; margin:10px 25px 0 20px; border:1px solid #fff;}
.affect_movie_list a span{ display:block; width:176px; height:134px; margin:0 auto; overflow:hidden}
.affect_movie_list a span img{ width:170px; height:128px; padding:2px; border:1px solid #ddd;}
.affect_movie_list a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.affect_movie_list a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}
*/
/*video_affect_panel panel*/
.video_affect_panel{width:580px; height:390px; float:left; padding:1px 0; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; text-align:center; }
.video_affect_side{ float:right; width:160px; height:390px; overflow-x:hidden; overflow-y:auto; background:#f3f3f3;}
.video_affect_side a{ display:block; width:140px; height:120px; margin:8px auto; text-align:center; cursor:pointer; border:1px solid #f3f3f3;}
.video_affect_side a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none}
.video_affect_side a span{ display:block; width:124px; height:94px; margin:0 auto 4px;}
.video_affect_side a span img{ width:120px; height:90px; padding:1px; border:1px solid #ddd; text-align:center; margin:8px 0 0 0;}
.video_affect_side a p{ text-align:center; height:20px; line-height:1.6em;}
.vas_cur{ background:#E9F2F9!important; border:1px solid #c4dae8!important;}

/*右下角信息提示框*/
#winpop { width:240px;  position:absolute; right:0; bottom:0; border:1px solid #c4dae8; margin:0;  overflow:hidden; display:none; background:#f6f6f6; z-index:999;}
#winpop .title { padding:0 8px; height:24px; line-height:24px; background:#ddd url(../images/music-title-bg.gif) repeat-x bottom; font-weight:bold; font-size:12px; color:#1268aa;}
#winpop .con { width:216px; padding:4px 8px; height:120px; line-height:1.6; font-weight:bold; font-size:12px;  text-decoration:underline; margin-top:0; overflow:hidden;}
#silu { font-size:13px; color:#999999; position:absolute; right:0; text-align:right; text-decoration:underline; line-height:22px;}
.close { display:block; width:12px; height:12px; text-align:center; line-height:12px; position:absolute; right:4px; top:4px; font-size:10px; border:1px solid #c4dae8; color:#1268aa; cursor:pointer}
.close:hover{ border-color:#f80; color:#f80;}

.news_focus{ height:60px; overflow:hidden}
.news_focus .nf_img{ float:left; width:50px; height:50px; margin:3px 0;}
.news_focus .nf_img img{ width:50px; height:50px; padding:1px ; border:1px solid #ddd;}
.news_focus .nf_txt{ float:left; width:150px; height:50px; margin:5px 8px; text-align:left}
.news_focus .nf_txt h4{ padding:0; margin:0; font-size:12px; line-height:1.2em; text-align:left}
.news_focus .nf_txt h4 a{ font-weight:bold}
.news_focus .nf_txt p{padding:0; margin:0; font-size:12px; line-height:1.4em; text-indent:2em; color:#666;}

.nf_list{ display:block; margin:2px 0 0 0; padding:0; overflow:hidden}
.nf_list li{ display:block; float:left; padding:0 4px 0 10px; background:url(../images/dot.gif) no-repeat 2px 7px; white-space:nowrap;}
.nf_list li a{ cursor:pointer}

.article_con{ width:734px; height:460px; margin:4px auto; padding:10px 0; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.article_con h4{ text-align:center; font-size:24px; line-height:2;}
.article_con .date{ line-height:1.6em; text-align:center; color:#999;}
.article_con p{ padding:12px; line-height:1.6em; text-indent:2em; font-size:14px; color:#333;}


/*补充-测试列表加按钮*/
.index_list a.index_list_item{ position:relative}
.btn_position{  position:absolute; right:12px; bottom:12px;}

/*左右箭头分页*/
.page_prev{ width:404px; height:516px;  opacity:0.6; position:absolute; left:4px; top:58px; z-index:999;}
.page_next{ width:404px; height:516px;  opacity:0.6; position:absolute; right:10px; top:58px;z-index:999;}

.btn_page_prev_active{ display:block; width:34px; height:95px; overflow:hidden; position:absolute; top:260px; left:8px; background:url(../images/page-btn.png) no-repeat 0 -95px; text-indent:-9999px; cursor:pointer; }
.btn_page_next_active{ display:block; width:34px; height:95px; overflow:hidden; position:absolute; top:260px; right:12px; background:url(../images/page-btn.png) no-repeat 0 0; text-indent:-9999px; cursor:pointer; }

/*数字中心 列表*/
.article_panel{width:764px; height:491px; margin:10px auto;  font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;  overflow:hidden;}
.article_panel .nc_left{ width:520px; float:left; overflow:hidden}
.article_panel .nc_left .nc_item{ width:500px; height:80px; margin:10px 0; overflow:hidden}
.article_panel .nc_left .nc_item a.nc_item_img{ display:block; width:74px; height:74px; float:left; margin:4px 0 0 14px;}
.article_panel .nc_left .nc_item a.nc_item_img img{ padding:1px; border:1px solid #ddd;}
.article_panel .nc_left .nc_item .nc_item_txt{ width:400px; height:70px; float:left; margin:4px 0 0 10px; overflow:hidden;}
.article_panel .nc_left .nc_item .nc_item_txt h3{ line-height:1.6em; font-size:14px;}
.article_panel .nc_left .nc_item .nc_item_txt h3 a{ font-weight:bold;}
.article_panel .nc_left .nc_item .nc_item_txt p{ line-height:1.6em; color:#666;}

/*article*/
.article_tab .contentbox a{ display:block; width:180px; height:24px; line-height:24px; margin:4px 0; padding:0 0 0 18px; background:url(../images/dot.gif) no-repeat 8px 10px;}
.article_tab .contentbox a span{ display:block; width:176px; height:134px; margin:0 auto; overflow:hidden}
.article_tab .contentbox a span img{ width:170px; height:128px; padding:2px; border:1px solid #ddd;}
.article_tab .contentbox a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.article_tab .contentbox a:hover{ text-decoration:underline;}


.article_panel .nc_right{ width:210px; height:491px; float:left; padding:0 10px; margin:0 0 0 10px; border-left:1px dotted #ddd; }
.article_panel .nc_right .nc_right_title{ margin:0 10px; line-height:1.6em;border-bottom:1px solid #ddd;}
.article_panel .nc_right .nc_right_title h3{ padding:8px 0 0 0; font-size:14px;}

.article_panel .nc_right ul{ display:block; overflow:hidden; margin:6px 10px; padding-left:18px; background:url(../images/ico-index.gif) no-repeat 0 2px;}
.article_panel .nc_right ul li{ display:block; line-height:25px;}

/*user eidt & password modify 2012-07-02补充*/
.title h2 a:hover{ text-decoration:none;}
.ueidt{ display:block; float:left; height:48px; line-height:48px; padding:0 14px; margin:10px 0 0 0; color:#666!important}
.ueidt:hover{ color:#319CD0!important}
.cur{ display:block; height:48px; line-height:48px; padding:0 14px; margin:10px 0 0 0; background:#fff; color:#333!important; border:1px solid #ddd; border-bottom:none;}
.cur:hover{ color:#333!important;}

/*个性化干预*/
.ra_con_item{ width:740px; margin:0 0 0 7px; overflow:hidden; }
.ra_con_item .ra_title{ height:42px; line-height:42px; padding:0 14px; overflow:hidden; background:url(../images/affect-title.gif) repeat-x bottom; font-size:18px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; color:#666; border:1px solid #ccc; border-bottom:none;}
.ra_con_item .ra_title img{ position:absolute; right:8px; top:6px;}
.ra_con_item table{  border-collapse:collapse}
.ra_con_item table td{ border:1px solid #ddd; border-collapse:collapse; border-top:none; padding:14px 8px; line-height:1.5em; font-size:14px;}
.ra_item_title{ background:#ebfaff}

.rac_title{ padding:0 10px; font-size:14px; line-height:1.6em;}
.ra_con_item ul{ display:block; overflow:hidden; border:1px solid #ccc; border-top:none; padding:20px;}
.ra_con_item ul li{ display:block; float:left; width:630px; height:160px; margin:10px 0 0 34px; background:#f6f6f6 url(../images/ra-item-bg.gif) no-repeat 0 0;}
.ra_con_item ul li .ra_img{ float:left; width:120px; height:120px; margin:20px 0 0 20px;}
.ra_con_item ul li .ra_img img{ float:left; width:120px; height:120px; margin:0 0 0 0;}
.ra_con_item ul li .ra_con_item_txt{ float:left; width:450px; height:140px; margin:20px 0 0 16px;}
.ra_con_item ul li .ra_con_item_txt a:hover{ text-decoration:none}
.ra_con_item ul li .ra_con_item_txt h3{ line-height:1.0em; font-size:24px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-weight:normal; color:#333;}
.ra_con_item ul li .ra_con_item_txt p{ line-height:1.6em; color:#666; margin:10px 0 0 0;}

.ra_detail{width:740px; margin:0 0 0 7px; overflow:hidden; border:1px solid #ccc;  }
.ra_detail ul.rad_title{ height:74px; line-height:65px; background:url(../images/rad-title-bg.gif) repeat-x ;}
.ra_detail ul.rad_title li{ display:block; float:left; width:104px; height:65px; line-height:65px; border-right:1px solid #ccc; text-align:center; color:#999; font-size:18px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; cursor:pointer}
.rad_current{ background:url(../images/rad-current-bg.png) repeat-x bottom!important; color:#666!important;}
.ra_detail .rad_con{ overflow:hidden; border-top:none; padding:20px;}

.rad_content{width:700px; min-height:400px; margin:0 auto 10px; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;}
.rad_position{ display:block; width:700px; height:34px; margin:10px auto;}
.rad_music{ background:url(../images/rad-music.png) no-repeat 0 0;}
.rad_animate{ background:url(../images/rad-animate.png) no-repeat 0 0;}
.rad_movie{ background:url(../images/rad-movie.png) no-repeat 0 0;}
.rad_magazine{ background:url(../images/rad-magazine.png) no-repeat 0 0;}
.rad_game{ background:url(../images/rad-game.png) no-repeat 0 0;}
.rad_article{ background:url(../images/rad-article.png) no-repeat 0 0;}
/*woq add*/
.rad_MUSIC{ background:url(../images/rad-music.png) no-repeat 0 0;}
.rad_DECOMPRESSANIME{ background:url(../images/rad-animate.png) no-repeat 0 0;}
.rad_TRAINANIME{ background:url(../images/rad-movie.png) no-repeat 0 0;}
.rad_MAGAZINE{ background:url(../images/rad-magazine.png) no-repeat 0 0;}
.rad_GAME{ background:url(../images/rad-game.png) no-repeat 0 0;}
.rad_ARTICLE{ background:url(../images/rad-article.png) no-repeat 0 0;}
/*woq add---END*/
.rad_position a{ display:block; width:80px; height:34px; line-height:34px; padding:0 0 0 34px; float:left;  margin:0 1px; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:14px; cursor:pointer; color:#eee; overflow:hidden;}
.rad_position a:hover{ text-decoration:none;}
.rad_position a.current{ color:#ff0!important}

.rad_list{ width:700px; margin:0 auto; overflow:hidden}
/*music player*/
.music_player_rad{width:700px; height:127px; margin:12px auto; padding:20px 0;  background:url(../images/music-bg-rad.gif) no-repeat center;}
.music_player_rad .mp_player_rad{ width:420px; float:left; margin:0 0 0 14px;}

.music_player_rad .mp_list_rad{ display:block; width:240px; height:126px; background:#f6f6f6; border:1px solid #ddd; float:right; margin:0 14px 0 0 ;}
.music_player_rad .mp_list_rad .mp_list_title{ height:24px; line-height:24px; padding:0 8px; background:url(../images/music-title-bg.gif) repeat-x bottom; color:#1268aa; font-weight:bold;}
.music_player_rad .mp_list_rad .mp_list_con{ width:240px; height:102px; overflow-x:hidden; overflow-y:scroll;}
.music_player_rad .mp_list_rad .mp_list_con a{ display:block; height:20px; line-height:20px; padding:2px 8px; overflow:hidden; color:#666;  cursor:pointer}
.music_player_rad .mp_list_rad .mp_list_con a:hover{ color:#1268aa; background:#e9f2f9; text-decoration:none}

/*report affect movie*/
.rad_movie_list{width:700px; height:400px; margin:0 auto 10px; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;}
.rad_video_affect_panel{width:540px; height:390px; float:left; padding:1px 0; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; text-align:center; }
.rad_video_affect_side{ float:right; width:160px; height:390px; overflow-x:hidden; overflow-y:auto; background:#f3f3f3;}
.rad_video_affect_side a{ display:block; width:140px; height:120px; margin:8px auto; text-align:center; cursor:pointer; border:1px solid #f3f3f3;}
.rad_video_affect_side a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none}
.rad_video_affect_side a span{ display:block; width:124px; height:94px; margin:0 auto 4px;}
.rad_video_affect_side a span img{ width:120px; height:90px; padding:1px; border:1px solid #ddd; text-align:center; margin:8px 0 0 0;}
.rad_video_affect_side a p{ text-align:center; height:20px; line-height:1.6em;}

/*个性化干预干预套餐-杂志*/
.rad_affect_magazine_list{width:700px; height:370px;  margin:10px auto; overflow-x:hidden; overflow-y:auto; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff;  }
.rad_affect_magazine_list a{ display:block; width:196px; height:286px; padding:10px; float:left; margin:30px 4px; border:1px solid #fff;}
.rad_affect_magazine_list a span{ display:block; width:196px; height:256px; margin:0 auto; overflow:hidden}
.rad_affect_magazine_list a span img{ width:190px; height:250px; padding:2px; border:1px solid #ddd;}
.rad_affect_magazine_list a p{ margin:0 ; padding:0; display:block; padding:8px 0; line-height:1.6em; text-align:center; text-indent:0; font-size:14px;}
.rad_affect_magazine_list a:hover{ background:#E9F2F9; border:1px solid #c4dae8; text-decoration:none;}

/*report affect article*/
.rad_article_list{ overflow:hidden}
.rad_article_list ul{ display:block; width:100%; padding:20px 0; overflow:hidden}
.rad_article_list ul li{ display:block; width:146px; height:170px; padding:12px 2px;  background:url(../images/rad-article-bg.png) no-repeat 0 0; overflow:hidden;  float:left; margin:2px 12px;}

.rad_article_list ul li .rl_title{ padding:4px 10px 4px 8px; margin:26px 0 0 0; height:60px; overflow:hidden;  font-size:14px; text-align:center}
.rad_article_list ul li .rl_title a{ line-height:1em; color:#333;}
.rad_article_list ul li .rl_title a:hover{ text-decoration:none; color:#0092c5}
.rad_article_list ul li .btn_article_view{ display:block; width:74px; height:22px; line-height:22px; text-align:center; font-size:12px; color:#333; background:url(../images/btn-gray-bg.png) no-repeat -2px -10px; cursor:pointer; overflow:hidden; margin:10px auto; border:1px solid #ddd; color:#666;}
.rad_article_list ul li .btn_article_view:hover{ text-decoration:none; color:#333; background-position:-2px -44px; border-color:#ccc;}


/*report affect article*/
/*content*/
.rad_article_con{ width:700px; margin:4px auto; padding:10px 0; overflow:hidden; font-family:"宋体", Arial, Helvetica, sans-serif; background:#fff; }
.rad_article_con h4{ text-align:center; font-size:24px; line-height:2;}
.rad_article_con .date{ line-height:1.6em; text-align:center; color:#999;}
.rad_article_con p{ padding:12px; line-height:1.6em; text-indent:2em; font-size:14px; color:#333;}

/*ie6兼容style*/
.duckbg{ *width:100%; *height:100%; _width:2000px; _height:1400px;  *position:absolute; *top:0; *left:0;  }
.progress span.progress_bar{ *height:6px; _height:3px;}
.main_panel{ *z-index:999; _z-index:999}

.ra_con_item ul{  _width:698px;}
.ra_con_item ul li{  *margin:10px 0 0 34px; _margin:10px 0 0 18px;}
.rad_position a{ _color:#ddd!important;}

.music_player_rad .mp_player_rad{ _margin:1px 0 0 7px;}
.music_player_rad .mp_list_rad{ _margin:0 5px 0 7px ;}
.rad_article_list ul li{_margin:2px 9px;}
.music_con .mleft .mitem_list{ _overflow-x:hidden; _overflow-y:scroll;}
.music_con .mleft .mitem_list li{ _width:90%;}

.movie_list .mtab .contentbox a{ _margin:26px 15px 0 15px;}
.magazine_list a{ _margin:60px 10px 0; }
.affect_list  a{ _margin:36px 15px 0 14px;}

.music_player .mp_player{ _margin:0 0 0 7px;}
.music_player .mp_list{ _margin:0 7px 0 4px ;}

.music_con .mleft .mitem_list{*position:relative;_position:relative; overflow-x:hidden; overflow-y:auto;}
.music_player_rad .mp_list_rad .mp_list_con{ *position:relative;_position:relative;}
.music_player .mp_list{ *position:relative;_position:relative; }

.list_scroll{ *position:relative;_position:relative;}

/*不能播放style*/
.nothit{width:100%; height:100%; _width:300px; background:#ccc; position:absolute; left:0; top:0; filter:alpha(opacity=60); /* IE */ -moz-opacity:0.6; /* Moz + FF */opacity: 0.6;}




