<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
<title>量表历史版本</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css"
	type="text/css">
<style type="text/css">
ul.version li {
	list-style: none;
	margin-bottom: 3px;
}

ul.version {
	border: 1px solid #cccccc;
	margin: 0 0 8px 0px;
	padding: 10px 10px;
}

ul.version li span {
	display: inline-block;
	float: right;
}

ul.version li:after {
	content: "";
	display: block;
	clear: both;
}

body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
</head>
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jsmartTools.js"></script>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h1 id="questionTitle"
					style="color: #ffffff; display: inline-block;"></h1>
				&nbsp;
				<h3 id="questionId" style="color: #ffffff; display: inline-block;"></h3>
			</div>
		</div>
	</div>

	<div class="container" id="con"></div>


	</div>
	<!-- /container -->





	<script type="text/zskx-tmpl" id="con-tmpl-version">
		<div class="page-header">
	    <h1 class="kind">${name}
	    	<small><span>（${id}）</span> 
	    </h1>
	  </div>
	  <div class="span11 offset1" style="padding-bottom: 60px; ">
			{{each children}}
	       	 	<a  target="_black"  title="查看报告"     class="span3" ><p>创建时间：${create_at}</p><p>介绍：${intro}</p><p>创建者：${mail}</p></a>
			<input type="hidden" value="${answer}" id="${id}_amswer"/>
			{{/each}}
	  </div>
    </script>



	<script type="text/javascript">
		$$(function(json) {
			if (json.code != 0) {
				alert('code: ' + json.code + ',msg:' + json.msg);
				return;
			}

			$('#questionTitle').html(json.question.title);
			$('#questionId').html('(id:' + json.question.id + ')');
			if (json.data.length == 0) {
				$('#con').append("暂无测试数据");
			}
			for ( var i = 0; i < json.data.length; i++) {
				var value = json.data[i];
				$('#con-tmpl-version').tmpl(value).appendTo('#con');
			}
		});
	</script>

</body>
</html>