<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
<title>Gaollg</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
<style type="text/css">
body {
	padding-top: 50px;
}

.tab {
	border: 0px;
	width: 500px;
	height: auto;
}

.tab li {
	width: 180px;
	height: 30px;
	border: 0px solid #CCC;
	list-style: none;
	float: left;
}

ul.version li {
	list-style: none;
	margin-bottom: 3px;
}

ul.version {
	border: 1px solid #cccccc;
	margin: 0 0 8px 0px;
	padding: 10px 10px;
}

ul.version li strong {
	width: 90%;
	float: left;
}

ul.version li:after {
	content: "";
	display: block;
	clear: both;
}

p.kind-text{ display: inline-block; float: right;padding-top: 13px;}
.kind-text a
{
	color:#000000;
	text-transform:none;
	text-decoration:none;
}

</style>
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" type="text/css">
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jsmartTools.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>

	<!-- Button to trigger modal -->

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">新增类别</h3>
		</div>
		<div class="modal-body">
			<div class="tab">
				<li>id</li>
				<li><input name="id" id="kindId" type="text" /></li>
				<li>类别名称</li>
				<li><input name="kindName" id="kindName" type="text" /></li>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			<button class="btn btn-primary" onclick="saveKind();">保存</button>
		</div>
	</div>
	<div class="container" id="con">
		<div>
			<a href="#myModal" role="button" class="btn btn-primary btn-large"
				data-toggle="modal">新增类型</a>
			<a href="toExport" class="btn btn-primary btn-large">导出Sql</a>
		</div>
	</div>
	<script type="text/zskx-tmpl" id="con-tmpl">
	  <div class="page-header">
	    <h1 class="kind">${kindName}
	    	<small><span>（${id}）</span> <p class="kind-text"> <a href="#updateModal" onclick="setDate('${id}','${kindName}')" data-toggle="modal">编辑</a> <a href="#addQModal" onclick="setQDate('${id}')"  data-toggle="modal">增加量表</a></p></small>
	    </h1>
	  </div>
	  <div class="span11 offset1" style="padding-bottom: 60px;">
			{{each children}}
	       	 	<a  target="_black"    href="/questionVersion/questionList/${$value.id}" 
			data-toggle="modal"       class="span3" >${$value.id}:${$value.title}</a>
			{{/each}}
	  </div>
    </script>




	<div id="updateModal" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">修改类别</h3>
		</div>
		<div class="modal-body">
			<div class="tab">
				<li>id</li>
				<li><input name="id" id="updateId" type="text"
					readonly="readonly" /></li>
				<li>类别名称</li>
				<li><input name="kindName" id="updateKindName" type="text" /></li>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			<button class="btn btn-primary" onclick="update();">保存</button>
		</div>
	</div>

	<div id="addQModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">新增量表</h3>
		</div>
		<div class="modal-body">
			<div class="tab">
				<li>量表id<input id="kind_id" type="hidden" /></li>
				<li><input name="id" id="question_id" type="text" /></li>
				<li>量表名称</li>
				<li><input name="kindName" id="question_name" type="text" /></li>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			<button class="btn btn-primary" onclick="addQuestion();">保存</button>
		</div>
	</div>


	
</body>
</html>