<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>量表预览-效果早知道</title>
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<link href="../css/frame.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="../css/numberAxis.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/zskxTest.js"></script>
<script type="text/javascript" src="../js/comm.js"></script>
<script type="text/javascript" src="../js/jquery.numberaxis.js"></script>

<style type="text/css">
.sub_s{ display:block;  height:258px ; width:210px; padding:20px 6px 20px 6px;  float:left; overflow:hidden; border:1px solid #ccc;border-left:none;}
.sub_s li{display:block; float:left; height:60px; width:96px; margin:2px 0px; padding-left:2px; border-left:3px solid #fff;}
.sub_s li:hover {background: #F0F0F9; border-left:3px solid #f80; cursor:pointer}
.sub_s_select {background: #F0F0F9; border-left:3px solid #f80!important;}
.sub_img{ float:left; height:165px; width:374px; padding:65px 40px 68px 40px;  border:1px solid #ccc;  text-align:center}

.test_panel h3 { margin-bottom:15px;}
.event_time{ margin-bottom:10px; border-bottom:1px solid #ebebeb; padding-bottom:10px;}
.event_time h4{font-family: "微软雅黑", Arial, Helvetica, sans-serif; color:#333; display:inline-block; float:left; width:100px; text-align:right; line-height:28px; }
.event_time_radio{ margin-left:110px;}
.event_time_radio label{ display:inline-block;line-height:28px; margin-right:15px;}
.event_time_radio input[type="radio"] { float:left; margin:7px 3px 0 0;}
.event_time_radio select{ width:100px; font-size:14px; padding:5px 5px; border:1px solid #c7c7c7;}
</style>

</head>

<body>
<script include='/common/header.html'></script>
<div class="duckbg" id="duckbg" style="display: none;"></div>
<script type="text/javascript">
function showDuckBg(){
	$('#duckbg').height($(document).height()).width($(document).width()).css('display','block');
};
function closeDuckBg(){
	$('#duckbg').css('display','none');
};
</script>
<!--mainpanel-->
<div class="main_panel">
	<div class="main">
<script type="text/zskx-tmpl" id="guide">
		<div class="content" id="guideDIV">
			<div class="title">
				<h2>测试指导语</h2>
				<div class="title_side">
					<a title="返回"><img src="${imageServerUrl}/images/ico-return.png" /></a>
				</div>
				<div class="clear"></div>
			</div>
			<!--con end-->
			<div class="con">
				<h3 class="test_guide_intro_title , margin_top10">${title}</h3>
				<p class="test_guide_intro">${description} </p>
				<div class="test_guide">
					<h3>测试指导语</h3>
					<p>${guide} </p>
				</div>
				
				<div class="test_guide_option">
					<a href="javascript:void(0);" class="btn_blue" id='startQuestion'>开始答题</a>	
					<a style="display:none;" href="javascript:void(0);" class="btn_green" id='continueQuestion'>继续答题</a>	
				</div>
				
			</div><!--con end-->
		</div>
</script>
<script type="text/zskx-tmpl" id="test">
<div class="content">
<div class="title">
	<h2>正在答题</h2>
	<div class="title_side">
		<a href="javascript:void(0);" id="close" title="关闭"><img src="/images/ico-test-close.png" /></a>
	</div>
	<div class="clear"></div>
</div>
<!--con end-->
<div class="con">
	<h3>${title}</h3>
	<div class="progress">
		<span class="p_title">进度</span>
		<span class="progress_bar">
			<p class="progress_now" id="progress_now"></p>
		</span>
		<span class="p_total" id="progress_percent">1 / ${t.count() }</span>
		<div class="clear"></div>
	</div>
	<div class="test_panel" id="test_panel">
	</div>
	<div class="option">
		<a id="upButton" class="btn_blue">上一题</a>	
		<a id="downButton" class="btn_blue">下一题</a>
	</div>
	
</div><!--con end-->
</div>
</script>

<!-- 单选 多选 -->
<script type="text/zskx-tmpl" id="single-tmpl">
	<h3>${number}、{{html title}} </h3>
	{{each choiceGroup}}
		${$.set('group', $index) }
		{{if $value.title}}
			<lable>${$value.title}</lable>
		{{/if}}
		{{each choices}}
			<a value='${$index}' group="${$.get('group')}">${$index}、${title} </span></a>
		{{/each}}
	{{/each}}
</script>

<!-- 树轴 -->
<script type="text/zskx-tmpl" id="numberaxis-tmpl">
		<h3>${number}、{{html title}}</h3>
		<div class="text_low">${minDesc}</div>
		<div class="test_pro" id='numberaxis-process'></div>
		<div class="text_high">${maxDesc}</div>
</script>
<!-- 瑞文 -->
<script type="text/zskx-tmpl" id="raven-tmpl">
			<div class="sub_img">
	    		<img src="${contextPath}/question/image?path=8001/${title}" />
			</div>
			<ul class="sub_s">
			{{each choiceGroup}}
				{{each choices}}
					<li choiceValue='${$index}' group="${$index}"><img src="${contextPath}/question/image?path=8001/${title}" /></li>
				{{/each}}
			{{/each}}
			</ul>
</script>

<!-- 子题 -->
<script type="text/zskx-tmpl" id="child-tmpl">
	<h3>${number}、{{html title}} </h3>

	{{each choiceGroup}}
		${$.set('group', $index) }
		${$.set('msg', $value.title) }
		<div class="event_time">
			<h4>${$value.title}</h4>
			<div class="event_time_radio">
				{{each choices}}
					<label data-out="${$index}"><input type="radio" name="${$.get('group')}" data-msg="${$.get('msg')}" value="${$index}"/>${title}</label>
				{{/each}}
			</div>
		</div>
	{{/each}}
</script>

	</div>
</div><!--mainpanel end-->

<script type="text/javascript">

//提交答案...
var submitCount = 0;
function submit(){
	submitCount ++ ;
	$('#downButton').html('正在提交...');
	if(submitCount == 1){
		//TODO 提交....
		var answer = t.allAnswerStr();
		localStorage.setItem(id + '_answer', answer);
		alert('答案结果:' + answer);
		window.location.href = contextPath + "/question/report.html";
	}else if(submitCount > 3){
		alert('不用那么费劲啦，点击一下就够了:)');
	}
}

var t = null;
function callback2(json){
	
	var string2Json = function(str){
		return eval('(' + str + ')');
	};
	var customer = string2Json(localStorage.getItem('Customer'));

	t = $.zskxTest(json.question, json.id, customer);//这里是json.id 线上应该是item.id
	$("#guide").tmpl(json).appendTo(".main");
	var isContinue = function(){
		if(t.allAnswer().length){
			$('#continueQuestion').show();
		}else{
			$('#continueQuestion').hide();
		}
	}
	isContinue();
	
	$('#startQuestion').live('click', function(){beginTest(false)});
	$('#continueQuestion').live('click', function(){beginTest(true)});
	$('#upButton').live('click', function(){
		if(submitCount >0){
			alert('呃...答案已提交至服务器:)');
			return ;
		}
		if(t.upCount() == 0){
			//第一道题
		 	alert('已经是第一道题了！');
		}else{
			paddingData(t.upQuestion());
			$('#downButton').html('下一题');
		}
	});
	
	$('#downButton').live('click', function(){
		if(t.lastCount() == 0){
			if(t.isFinsh()){
				//完成, 点击提交
				submit();
			}
		}else{
			if(!toNext()){
				alert('请选择答案');
			}
		}
	});
	
	
	$('#close').live('click',function(){
		closeDuckBg();
		$(".content").replaceWith($("#guide").tmpl(json));
		isContinue();
	});
	
	//-----------------------------------
	var hash = location.hash;
	   if(hash == '#restart'){
		   beginTest(false);
	   }
	   else if(hash == '#continue'){
		   beginTest(true);
	   }else{
		   isContinue();
	   }
}

/* 开始测试　*/
function beginTest(isContinue){
	showDuckBg();
	$(".content").replaceWith($("#test").tmpl());
	if(isContinue){
		paddingData(t.continueTest());
	}else{
		paddingData(t.beginTest());
	}
	location.hash="#continue";
}

function toNext(){
	//判断是否完成
	if(t.lastCount() != 0){
		//下一题
		var json = t.nextQuestion();
		if(json){
			setTimeout(function(){
				paddingData(json);
			}, 100);
			return true;
		}
		return false;
	}
	setTimeout(function(){
		submit();
	}, 100);
}

var nowQuestion = null;
function paddingData(json){
	nowQuestion = json;
	//修改进度
	var index = t.nowIndex() + 1;//当前题
	var total = t.count();//总题数
	
	$('#progress_now').css('width', (index/total*100)+"%");
	$('#progress_percent').html(index + " / " + total);
	
	var questionType = json.type;
	if(questionType == 'SINGLE' || questionType =='MORE'){
		$("#test_panel").empty().append($("#single-tmpl").tmpl(json));
	}
	else if(questionType == 'NUMBERAXIS'){
		$("#test_panel").empty().append($("#numberaxis-tmpl").tmpl(json));
		page = $("#numberaxis-process").page({
			nowPage : 1,//当前页
			pageSize : json.count,//显示页码数
			onPageChange:function(page){
				window.console && console.log("page: %s.", page);
				var answer = [];
				answer.push(page);
				t.answer(answer);
				toNext();
			}
		 });
	}else if(questionType == 'RAVEN'){
		$("#test_panel").empty().append($("#raven-tmpl").tmpl(json));
	}else if(questionType == 'CHILD'){
		$("#test_panel").empty().append($("#child-tmpl").tmpl(json));
	}
	
	//填充答案
	var answer = t.getAnswer();
	if(questionType == 'SINGLE' || questionType =='MORE' || questionType =='MUTEX'){
		for(var key in answer){
			$('#test_panel a[value=' + answer[key] + ']').addClass('test_selected');
		}
	}else if(questionType == 'NUMBERAXIS'){
		if(page){
			var temp = 0;
			if(answer && answer.length>0){
				temp = answer[0];
			}
			page.moveToPage(temp);
		}
	}else if(questionType == 'RAVEN'){
		for(var key in answer){
			$('#test_panel ul li[choiceValue=' + answer[key] + ']').addClass('sub_s_select');
		}
	}else if(questionType == 'CHILD'){
		for(var key in answer){
			$('#test_panel input[value=' + answer[key] + ']').attr("checked",'checked');
		}
	}
	
	if(t.lastCount()==0){
		$('#downButton').html('提交测试');
	};
}

//答题 (选择题)
$('.test_panel > a').live('click', function(){
	var group = $(this).attr('group');
	if($(this).hasClass("test_selected")){
		if($(this).siblings('.test_selected').length != 0){
			$(this).removeClass('test_selected');
		}
		return ;
	}
	$(this).addClass('test_selected').siblings('[group!=' + group + ']').removeClass('test_selected');
	//如果选项组全部选中, 自动进入下一题
	var finshed = true;
	$(this).siblings('[group=' + group + ']').each(function(){
		if(!$(this).hasClass("test_selected")){
			finshed = false;
		}
	});
	
	if(t.lastCount()==0 && t.isFinsh()){
		$('#downButton').html('提交测试');
	}
	
	var answer = [];
	$('.test_panel .test_selected').each(function(){
		answer.push($(this).attr('value'));
	});
	t.answer(answer);
	
	if(finshed){
		toNext();
	}
});

//瑞文
$("#test_panel ul li").live('click', function(){
	$(this).addClass('sub_s_select').siblings().removeClass('sub_s_select');
	var answer = [];
	answer.push($(this).attr('choiceValue'));
	t.answer(answer);
	toNext();
});

//子题
$(function(){
	var p = $("#test_panel");
	var hide = function(){
		for(var i =0; i<arguments.length; i++){
			var choice = arguments[i];
			p.find('[data-out=' + choice + ']').hide();
		}
	}
	var show = function(){
		for(var i =0; i<arguments.length; i++){
			var choice = arguments[i];
			p.find('[data-out=' + choice + ']').show();
		}
	}
	var disabled = function(){
		for(var i =0; i<arguments.length; i++){
			var choice = arguments[i];
			p.find('[value=' + choice + ']').attr('disabled', true);
		}
	}
	var undisabled = function(){
		for(var i =0; i<arguments.length; i++){
			var choice = arguments[i];
			p.find('[value=' + choice + ']').attr('disabled', false);
		}
	}
	var change = function(){
		for(var i =0; i<arguments.length; i++){
			var choice = arguments[i];
			p.find('[value=' + choice + ']').attr("checked",'checked');
		}
		getAnswer();
	}
	var answer = [];
	var getAnswer = function(){
		answer = [];
		p.find('input[type=radio]:checked').each(function(){
			answer.push($(this).val());
		});
	};
	
	p.delegate("input[type=radio]", "change", function(){
		getAnswer();
		var nowAnswer = $(this).val();
		var script = nowQuestion.changeAnswer;
		if(script){
			retVal = eval('(function(){'+ script +'})()');
			if(retVal == 'NEXT'){
				t.answer(answer);
			}else if(retVal == 'OK'){
				t.answer(answer);
			}
		}
	});
});

</script>


<script type="text/javascript">
var id = null;
(function(){
	var string2Json = function(str){
		return eval('(' + str + ')');
	};
	//var id = location.hash.replace('#', '');
	(function(){
		var href = location.pathname;
		var i = href.lastIndexOf('/');
		id = href.substr(i + 1);
	})();
	var data = localStorage.getItem(id);
	if(data){
		callback2(string2Json(data));
	}else{
		alert('请先编辑后预览!');
	}
})();
function callback(){
	//忽略
};
</script>

</body>
</html>
