<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>量表预览-效果早知道</title>
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<link href="../css/frame.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="../css/numberAxis.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/zskxTest.js"></script>
<script type="text/javascript" src="../js/zskxTestUI.js"></script>
<script type="text/javascript" src="../js/comm.js"></script>
<script type="text/javascript" src="../js/jquery.numberaxis.js"></script>

<style type="text/css">
.sub_s{ display:block;  height:258px ; width:210px; padding:20px 6px 20px 6px;  float:left; overflow:hidden; border:1px solid #ccc;border-left:none;}
.sub_s li{display:block; float:left; height:60px; width:96px; margin:2px 0px; padding-left:2px; border-left:3px solid #fff;}
.sub_s li:hover {background: #F0F0F9; border-left:3px solid #f80; cursor:pointer}
.sub_s_select {background: #F0F0F9; border-left:3px solid #f80!important;}
.sub_img{ float:left; height:165px; width:374px; padding:65px 40px 68px 40px;  border:1px solid #ccc;  text-align:center}

.test_panel h3 { margin-bottom:15px;}
.event_time{ margin-bottom:10px; border-bottom:1px solid #ebebeb; padding-bottom:10px;}
.event_time h4{font-family: "微软雅黑", Arial, Helvetica, sans-serif; color:#333; display:inline-block; float:left; width:100px; text-align:right; line-height:28px; }
.event_time_radio{ margin-left:110px;}
.event_time_radio label{ display:inline-block;line-height:28px; margin-right:15px;}
.event_time_radio input[type="radio"] { float:left; margin:7px 3px 0 0;}
.event_time_radio select{ width:100px; font-size:14px; padding:5px 5px; border:1px solid #c7c7c7;}

.test_guide_option_none{ background-color:#e6f5fa; padding:25px 0; margin-top:10px;}
.test_guide_option_none p{ line-height:20px; padding:5px;}
.test_guide_option_none p span{font-family: "微软雅黑", Arial, Helvetica, sans-serif; font-size:16px; }
.test_guide_option_none p span.option_none_title{ display:inline-block; color:#ff5a00; text-align:right;width:200px;}
.test_guide_option_none p span.option_none_text{ color:#333333; text-align:left;}
</style>

</head>

<body>
<script include='/common/header.html'></script>
<div class="duckbg" id="duckbg" style="display: none;"></div>
<script type="text/javascript">
function showDuckBg(){
	$('#duckbg').height($(document).height()).width($(document).width()).css('display','block');
};
function closeDuckBg(){
	$('#duckbg').css('display','none');
};
</script>
<!--mainpanel-->
<div class="main_panel">
	<div class="main" id="main"></div>
<script type="text/zskx-tmpl" id="guide-tmpl">
		<div class="content" id="guideDIV">
			<div class="title">
				<h2>测试指导语</h2>
				<div class="title_side">
					<a title="返回"><img src="${imageServerUrl}/images/ico-return.png" /></a>
				</div>
				<div class="clear"></div>
			</div>
			<!--con end-->
			<div class="con">
				<h3 class="test_guide_intro_title , margin_top10">${title}</h3>
				<p class="test_guide_intro">${description} </p>
				<div class="test_guide">
					<h3>测试指导语</h3>
					<p>${guide}</p>
				</div>

				<div class="test_guide_option">
					{{if $data.misfit }}
						<div class="test_guide_option_none">
							<p>
								<span class="option_none_title">不合适使用：</span>
								<span class="option_none_text">${$data.misfit}</span>
							</p>
							<p>
								<span class="option_none_title">您的信息：</span>
								<span class="option_none_text">
									姓别: ${customer.gender} &nbsp;&nbsp;&nbsp; 
									年龄: ${customer.age}岁 &nbsp;&nbsp;&nbsp; 
									学历: ${customer.edu}
								</span>
							</p>
						</div><!--test_guide_option_none-->
					{{else}}
						<a href="javascript:void(0);" class="btn_blue" data-test='startQuestion'>开始答题</a>	
						<a style="display:none;" href="javascript:void(0);" class="btn_green" data-test='continueQuestion'>继续答题</a>	
					{{/if}}
				</div>
				
			</div><!--con end-->
		</div>
</script>
<script type="text/zskx-tmpl" id="test-tmpl">
<div class="content">
<div class="title">
	<h2>正在答题</h2>
	<div class="title_side">
		<a href="javascript:void(0);" data-test="close" title="关闭"><img src="/images/ico-test-close.png" /></a>
	</div>
	<div class="clear"></div>
</div>
<!--con end-->
<div class="con">
	<h3>${title}</h3>
	<div class="progress">
		<span class="p_title">进度</span>
		<span class="progress_bar">
			<p class="progress_now" data-test="progressNow"></p>
		</span>
		<span class="p_total" data-test="progressPercent">1 / ${count }</span>
		<div class="clear"></div>
	</div>
	<div class="test_panel" data-test="test_panel">
	</div>
	<div class="option">
		<a id="upButton" class="btn_blue" data-test="btnUp">上一题</a>	
		<a id="downButton" class="btn_blue" data-test="btnDown">下一题</a>
	</div>
	
</div><!--con end-->
</div>
</script>

<!-- 单选 多选 -->
<script type="text/zskx-tmpl" id="single-tmpl">
	<h3>${number}、{{html title}} </h3>
	{{each choiceGroup}}
		${$.set('group', $index) }
		{{if $value.title}}
			<lable>${$value.title}</lable>
		{{/if}}
		{{each choices}}
			<a value='${$index}' group="${$.get('group')}" data-choice="SINGLE" data-autoFillAnswer="${autoFillAnswer_key == $index && autoFillAnswer_value}"  data-question-index='${number}'>${$index}、${title} </span></a>
		{{/each}}
	{{/each}}
</script>

<!-- 树轴 -->
<script type="text/zskx-tmpl" id="numberaxis-tmpl">
		<h3>${number}、{{html title}}</h3>
		<div class="text_low">${minDesc}</div>
		<div class="test_pro" data-choice='NUMBERAXIS'></div>
		<div class="text_high">${maxDesc}</div>
</script>
<!-- 瑞文 -->
<script type="text/zskx-tmpl" id="raven-tmpl">
			<div class="sub_img">
	    		<img src="${contextPath}/question/image?path=8001/${title}" />
			</div>
			<ul class="sub_s">
			{{each choiceGroup}}
				{{each choices}}
					<li choiceValue='${$index}' group="${$index}" data-choice="RAVEN"><img src="${contextPath}/question/image?path=8001/${title}" /></li>
				{{/each}}
			{{/each}}
			</ul>
</script>

<!-- 子题 -->
<script type="text/zskx-tmpl" id="child-tmpl">
	<h3>${number}、{{html title}} </h3>

	{{each choiceGroup}}
		${$.set('group', $index) }
		${$.set('msg', $value.title) }
		<div class="event_time">
			<h4>${$value.title}</h4>
			<div class="event_time_radio">
				{{each choices}}
					<label data-out="${$index}"><input type="radio" name="${$.get('group')}" data-msg="${$.get('msg')}" value="${$index}"/>${title}</label>
				{{/each}}
			</div>
		</div>
	{{/each}}
</script>

<script type="text/zskx-tmpl" id="end-tmpl">
		<div class="content">
			<div class="title">
				<h2>测试完成</h2>
				<div class="title_side">
					<a href="${url}" title="关闭"><img src="${imageServerUrl}/images/ico-return.png" /></a>
				</div>
				<div class="clear"></div>
			</div>
			<!--con end-->
			<div class="con">
				<div class="test_end">
					<div class="test_end_ico"><img src="${imageServerUrl}/images/ico-test-finish.png" /></div>
					<div class="test_end_txt">
						<h3 class="color_green">
							您已完成此项测评，请稍候查阅报告。
						</h3>
						<div class="option">
							<a href="${url}" class="btn_green">查看报告</a>
						</div>
					</div>
				</div>
			</div><!--con end-->
       </div>
</script>

	
</div><!--mainpanel end-->

<script type="text/javascript">
function callback2(json){
	
	var string2Json = function(str){
		return eval('(' + str + ')');
	};
	var customer = string2Json(localStorage.getItem('Customer'));
	//t = $.zskxTest(json.question, json.id, customer);//这里是json.id 线上应该是item.id
	//-----------------------------------
	$('#main').zskxTestUI({
		question: json,
		itemId: json.id,
		customer : customer, 
		onBeginTest : function(){
			showDuckBg();
		},
		onCloseTest : function(){
			closeDuckBg();
		}, 
		onNext : function(i, total){
			window.console.log(i + "/" + total);
		},
		onSubmit : function(o, end){
			window.console.log(o);
			end({
				url : contextPath + "/question/report.html"
			});
			localStorage.setItem(o.questionId + '_answer', o.answer);
		}
	});
	
}


</script>

<script type="text/javascript">
var id = null;
(function(){
	var string2Json = function(str){
		return eval('(' + str + ')');
	};
	//var id = location.hash.replace('#', '');
	(function(){
		var href = location.pathname;
		var i = href.lastIndexOf('/');
		id = href.substr(i + 1);
	})();
	var data = localStorage.getItem(id);
	if(data){
		callback2(string2Json(data));
	}else{
		alert('请先编辑后预览!');
	}
})();
function callback(){
	//忽略
};
</script>

</body>
</html>
