<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>报告预览-效果早知道</title>
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<link href="../css/frame.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/zskxTest.js"></script>
<script type="text/javascript" src="../js/calc.js"></script>

</head>

<body>
<script include='/common/header.html'></script>

<div class="main_panel , position_relative"> 
	<div class="main_report">
		<div class="report_topframe">
			<div class="title">
				<h2>体检报告</h2>
				<div class="title_side">
				<script type="text/zskx-tmpl" id="tmpl">
					<a href="javascript:window.history.go(-1);" title="返回"><img src="${imageServerUrl}/images/ico-return.png" /></a>
				</script>
				</div>
				<div class="clear"></div>
			</div>
		</div>
			<!--con end-->
		<div class="report_middleframe">
			<div class="con_report2" id="con_report">
				<script id="con_tmpl" type="text/json">
				<h4>${title}</h4>
				<table width="80%" border="0" cellspacing="0" cellpadding="0" class="report">
					<tr>
						<td width="25%"><div class="table_title">基本资料</div></td>
						<td width="75%"><div class="table_title">测试结果</div></td>
					</tr>
					<tr>
						<td rowspan="9" valign="top">
							<ul>
								<li>姓名：${customer.name}</li>
								<li>性别：${customer.gender}</li>
								<li>年龄：${customer.age}</li>
							</ul>
						</td>
						<td>
								<div class="result_con_r" id="resultViewOne" align="center"  style="float:left;width: 600px;">
								    {{each q.report_image}}
								        {{if q.report_image.length==1}}
								           <div id="report_image_${$index}" ng-src="${$value}" style="${style}" class="graph graph-single graph_${$index}"></div>				

								           {{else}}
								           <div id="report_image_${$index}" ng-src="${$value}" style="${style}" class="graph graph-multi graph_${$index}"></div> 
								        {{/if}}
								    {{/each}}
								</div>

							<ul class="score">
								{{each appraise}}
									{{if $value.score!==undefined}}
                                    	<li {{if $value.warn}} style="color:#D14;" title="预警：{{each warnInfo}}(${min}-${max}) ${content}; {{/each}}" {{/if}}>
											${$value.title} : ${$value.score}
										</li>
									{{/if}}
                                {{/each}}
							</ul>
						</td>
					</tr>
					<tr>
						<td><div class="table_title">评语</div></td>
					</tr>
					<tr>
						<td>
                            {{each appraise}}
								{{if content}}
	                               	<p {{if $value.warn}} style="color:#D14;" {{/if}}>
										{{if $value.title}} ${$value.title}: {{/if}}
										{{html content}}
									</p>
								{{/if}}
                            {{/each}}								   	    
						</td>
					</tr>

					<tr>
						<td><div class="table_title">建议</div></td>
					</tr>

					<tr>
						<td>
                            {{each appraise}}
								{{if suggestion}}
	                               	<p {{if $value.warn}} style="color:#D14;" {{/if}}>{{html suggestion}}</p>
								{{/if}}
                            {{/each}}								   	    
							<!--印章-->
							<div class="seal_area" style="float:right; margin-right:20px;">
								{{if true}}
									<img alt="电子印章" width="152"  src="/images/61.jpg" class="seal" />
								{{/if}}
							</div>
							<!-- End -->
						</td> 
					</tr>

				</table>
				</script>
			</div>
		</div>
		
	</div>
</div><!--main_panel_report end-->

<script src="../js/Highcharts-3.0.1/highcharts.dev.js"></script>
<script src="../js/Highcharts-3.0.1/highcharts-more.js"></script>
<script src="../js/Highcharts-3.0.1/modules/exporting.js"></script>
<script src="../js/image-0.0.1.js"></script>

<style type="text/css">
	.graph-single{
		width: 600px; 
		height: 300px; 
		margin: 0 auto;
  }
	.graph-multi{
		width: 300px; 
		height: 300px; 
		margin: 0 auto;
	}
</style>


<script type="text/javascript">
var id = localStorage.getItem('previewId');
if(!id){
	 alert('请在编辑页面点击预览后刷新！');
}
$(function(){
	$('.menu').find('a').removeClass('meun_current');
	$("#reportList").addClass("meun_current");
});

var json, q;
(function(){
	var once=true;

	var runOnce = function(callback){
		if(once){
			callback && callback()
			once = false
		}
	}
	var string2Json = function(str){
		return eval('(' + str + ')');
	};
	var read = function(id){
		return localStorage.getItem(id);
	}
	var customer = string2Json(localStorage.getItem('Customer'));
	window.customer = customer;
	
	var begin = new Date().getTime();
	/////////////////////
	
	
	q = string2Json(read(id));
	var answer = string2Json(read(id + '_answer'));
	
	var qs = calcQuestionScore(q.calc, answer, customer);//取得每道题的分数
	var gs = calcGeneScore(q.gene, qs, customer);//取得因子分
	
	json = getAppraise(q.gene, gs, q.warn);//取得因子
	
	json = {appraise : json, title: q.title + "["+q.version+"]"};
	
	var end = new Date().getTime();
	//
	console.log(end-begin);
	console.log(new Date().getTime() - end);
	var style = "";
	//处理报告
	var report = $('#resultViewOne');

    window.reportImage.setAnimation(true);
    setTimeout(function(){

    	if(q.report_image && q.report_image.length > 0){
				for(var i in q.report_image){
					var code = q.report_image[i];
					runOnce(function(){

						style = code.substring(0,code.indexOf('";') + 1)
						eval(style)
						json.style = window.style_config
						$("#con_tmpl").tmpl(json).appendTo("#con_report");

					})

					window.showImage(json.appraise, code, 'report_image_'+i,"test");
				}
    	}else{
    		$("#con_tmpl").tmpl(json).appendTo("#con_report");
    	}

    }, 1);
})();
</script>
</body>
</html>
