<div class="head_frame">
<div class="head" id='head'>
	<script type="text/zskx-tmpl" id="header_tmpl">
		<a href="../question" class="logo"><img src="../images/logo.png" alt="" /></a>
		<!--menu-->
		<div class="menu">
			<a href="${contextPath}/question/previewList.html" class="meun_current">
				<span><img src="../images/ico-menu.png" class="menu_ico01" /></span>
				<p>心理测评</p>
			</a>
			<a href="${contextPath}/question/report.html" id='reportList'>
				<span><img src="../images/ico-menu.png" class="menu_ico02" /></span>
				<p>测评报告</p>
			</a>
			<a href="music.html">
				<span><img src="../images/ico-menu.png" class="menu_ico03" /></span>
				<p>音乐治疗</p>
			</a>
			<a href="movieList.html">
				<span><img src="../images/ico-menu.png" class="menu_ico04" /></span>
				<p>心理训练</p>
			</a>
			<a href="movieList.html">
				<span><img src="../images/ico-menu.png" class="menu_ico05" /></span>
				<p>减压系列</p>
			</a>
			<a href="gameList.html">
				<span><img src="../images/ico-menu.png" class="menu_ico06" /></span>
				<p>心理游戏</p>
			</a>
			<a href="magazingList.html">
				<span><img src="../images/ico-menu.png" class="menu_ico07" /></span>
				<p>积极心理</p>
			</a>
			<a href="affectList.html">
				<span><img src="../images/ico-menu.png" class="menu_ico08" /></span>
				<p>干预套餐</p>
			</a>
		</div><!--menu/ end-->
		<div class="clear"></div>
	</script>
	<script type="text/javascript">
		//$(document).bind("contextmenu",function(){return false;});
		//$("#header_tmpl").tmpl().appendTo("#head"); 
	</script>
	</div>
</div>
